/* This source code is exported from pxCode, you can get more document from https://www.pxcode.io */
.untitled-page-block {
  display: flex;
  background-color: #e2e0e0; }

.untitled-page-block.layout {
  position: relative;
  overflow: hidden; }

.untitled-page-block-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 333px; }

.untitled-page-content-box1 {
  display: flex;
  flex-direction: column;
  background-color: #08015e; }

.untitled-page-content-box1.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content; }

.untitled-page-image {
  background: var(--src) center center/contain no-repeat; }

.untitled-page-image.layout {
  position: relative;
  height: 289px;
  margin: 17px 14px 0px 13px; }
  @media (max-width: 1199px) {
    .untitled-page-image.layout {
      margin: 15px 12px 0px 11px; } }
  @media (max-width: 991px) {
    .untitled-page-image.layout {
      margin: 13px 10px 0px; } }
  @media (max-width: 767px) {
    .untitled-page-image.layout {
      margin: 11px 9px 0px 8px; } }
  @media (max-width: 575px) {
    .untitled-page-image.layout {
      margin: 10px 8px 0px 7px; } }
  @media (max-width: 479px) {
    .untitled-page-image.layout {
      margin: 9px 7px 0px; } }
  @media (max-width: 383px) {
    .untitled-page-image.layout {
      margin: 8px 7px 0px 6px; } }

.untitled-page-big-title {
  font: 31px/1.2 "Inter", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 0px; }
  @media (max-width: 1199px) {
    .untitled-page-big-title {
      font-size: 28px;
      text-align: left; } }
  @media (max-width: 991px) {
    .untitled-page-big-title {
      font-size: 25px; } }
  @media (max-width: 767px) {
    .untitled-page-big-title {
      font-size: 22px; } }
  @media (max-width: 575px) {
    .untitled-page-big-title {
      font-size: 20px; } }
  @media (max-width: 479px) {
    .untitled-page-big-title {
      font-size: 19px; } }
  @media (max-width: 383px) {
    .untitled-page-big-title {
      font-size: 18px; } }

.untitled-page-big-title.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 53.15%;
  margin: 122px auto 0px; }
  @media (max-width: 1199px) {
    .untitled-page-big-title.layout {
      margin: 99px auto 0px; } }
  @media (max-width: 991px) {
    .untitled-page-big-title.layout {
      margin: 75px auto 0px; } }
  @media (max-width: 767px) {
    .untitled-page-big-title.layout {
      margin: 54px auto 0px; } }
  @media (max-width: 575px) {
    .untitled-page-big-title.layout {
      margin: 43px auto 0px; } }
  @media (max-width: 479px) {
    .untitled-page-big-title.layout {
      margin: 33px auto 0px; } }
  @media (max-width: 383px) {
    .untitled-page-big-title.layout {
      margin: 26px auto 0px; } }

.untitled-page-big-title.layout1 {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 53.15%;
  margin: 56px auto 0px; }
  @media (max-width: 1199px) {
    .untitled-page-big-title.layout1 {
      margin: 48px auto 0px; } }
  @media (max-width: 991px) {
    .untitled-page-big-title.layout1 {
      margin: 39px auto 0px; } }
  @media (max-width: 767px) {
    .untitled-page-big-title.layout1 {
      margin: 32px auto 0px; } }
  @media (max-width: 575px) {
    .untitled-page-big-title.layout1 {
      margin: 28px auto 0px; } }
  @media (max-width: 479px) {
    .untitled-page-big-title.layout1 {
      margin: 24px auto 0px; } }
  @media (max-width: 383px) {
    .untitled-page-big-title.layout1 {
      margin: 21px auto 0px; } }

.untitled-page-big-title.layout2 {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 53.15%;
  margin: 56px auto 0px; }
  @media (max-width: 1199px) {
    .untitled-page-big-title.layout2 {
      margin: 48px auto 0px; } }
  @media (max-width: 991px) {
    .untitled-page-big-title.layout2 {
      margin: 39px auto 0px; } }
  @media (max-width: 767px) {
    .untitled-page-big-title.layout2 {
      margin: 32px auto 0px; } }
  @media (max-width: 575px) {
    .untitled-page-big-title.layout2 {
      margin: 28px auto 0px; } }
  @media (max-width: 479px) {
    .untitled-page-big-title.layout2 {
      margin: 24px auto 0px; } }
  @media (max-width: 383px) {
    .untitled-page-big-title.layout2 {
      margin: 21px auto 0px; } }

.untitled-page-big-title.layout3 {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 53.15%;
  margin: 56px auto 0px; }
  @media (max-width: 1199px) {
    .untitled-page-big-title.layout3 {
      margin: 48px auto 0px; } }
  @media (max-width: 991px) {
    .untitled-page-big-title.layout3 {
      margin: 39px auto 0px; } }
  @media (max-width: 767px) {
    .untitled-page-big-title.layout3 {
      margin: 32px auto 0px; } }
  @media (max-width: 575px) {
    .untitled-page-big-title.layout3 {
      margin: 28px auto 0px; } }
  @media (max-width: 479px) {
    .untitled-page-big-title.layout3 {
      margin: 24px auto 0px; } }
  @media (max-width: 383px) {
    .untitled-page-big-title.layout3 {
      margin: 21px auto 0px; } }

.untitled-page-big-title.layout4 {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 53.15%;
  margin: 56px auto 238px; }
  @media (max-width: 1199px) {
    .untitled-page-big-title.layout4 {
      margin: 48px auto 187px; } }
  @media (max-width: 991px) {
    .untitled-page-big-title.layout4 {
      margin: 39px auto 131px; } }
  @media (max-width: 767px) {
    .untitled-page-big-title.layout4 {
      margin: 32px auto 84px; } }
  @media (max-width: 575px) {
    .untitled-page-big-title.layout4 {
      margin: 28px auto 60px; } }
  @media (max-width: 479px) {
    .untitled-page-big-title.layout4 {
      margin: 24px auto 36px; } }
  @media (max-width: 383px) {
    .untitled-page-big-title.layout4 {
      margin: 21px auto 20px; } }

.untitled-page-block-item1 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 1587px; }

.untitled-page-flex {
  display: flex;
  flex-direction: column; }

.untitled-page-flex.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 0px 0px 39px; }
  @media (max-width: 1199px) {
    .untitled-page-flex.layout {
      margin: 0px 0px 34px; } }
  @media (max-width: 991px) {
    .untitled-page-flex.layout {
      margin: 0px 0px 28px; } }
  @media (max-width: 767px) {
    .untitled-page-flex.layout {
      margin: 0px 0px 23px; } }
  @media (max-width: 575px) {
    .untitled-page-flex.layout {
      margin: 0px 0px 21px; } }
  @media (max-width: 479px) {
    .untitled-page-flex.layout {
      margin: 0px 0px 18px; } }
  @media (max-width: 383px) {
    .untitled-page-flex.layout {
      margin: 0px 0px 17px; } }

.untitled-page-cover-block4 {
  display: flex;
  flex-direction: column;
  background-color: white; }

.untitled-page-cover-block4.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content; }

.untitled-page-flex1 {
  display: flex; }
  @media (max-width: 767px) {
    .untitled-page-flex1 {
      flex-wrap: wrap;
      row-gap: 16px; } }

.untitled-page-flex1.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 88.78%;
  margin: 9px auto; }
  @media (max-width: 1919px) {
    .untitled-page-flex1.layout {
      width: 91.35%; } }
  @media (max-width: 1399px) {
    .untitled-page-flex1.layout {
      width: 93.37%; } }
  @media (max-width: 1199px) {
    .untitled-page-flex1.layout {
      width: 94.94%;
      margin: 8px auto; } }
  @media (max-width: 991px) {
    .untitled-page-flex1.layout {
      width: 96.16%;
      margin: 7px auto; } }
  @media (max-width: 767px) {
    .untitled-page-flex1.layout {
      width: 97.09%;
      margin: 6px auto; } }
  @media (max-width: 575px) {
    .untitled-page-flex1.layout {
      width: 97.8%;
      margin: 5px auto; } }
  @media (max-width: 479px) {
    .untitled-page-flex1.layout {
      width: 98.34%; } }
  @media (max-width: 383px) {
    .untitled-page-flex1.layout {
      width: 98.75%; } }

.untitled-page-flex1-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1 1 140px; }
  @media (max-width: 767px) {
    .untitled-page-flex1-item {
      flex: 0 0 100%; } }

.untitled-page-cover-block3 {
  display: flex;
  flex-direction: column;
  background-color: #08015e;
  border-radius: 6px 6px 6px 6px; }

.untitled-page-cover-block3.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 57px 0px 53px 9px; }
  @media (max-width: 1199px) {
    .untitled-page-cover-block3.layout {
      margin: 49px 0px 45px 8px; } }
  @media (max-width: 991px) {
    .untitled-page-cover-block3.layout {
      margin: 40px 0px 37px 7px; } }
  @media (max-width: 767px) {
    .untitled-page-cover-block3.layout {
      margin: 32px 6px 30px; } }
  @media (max-width: 575px) {
    .untitled-page-cover-block3.layout {
      margin: 28px 5px 26px; } }
  @media (max-width: 479px) {
    .untitled-page-cover-block3.layout {
      margin: 24px 5px 22px; } }
  @media (max-width: 383px) {
    .untitled-page-cover-block3.layout {
      margin: 22px 5px 20px; } }

.untitled-page-subtitle {
  font: 23px/1.2 "Inter", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 0px; }
  @media (max-width: 1199px) {
    .untitled-page-subtitle {
      font-size: 21px;
      text-align: left; } }
  @media (max-width: 991px) {
    .untitled-page-subtitle {
      font-size: 20px; } }
  @media (max-width: 767px) {
    .untitled-page-subtitle {
      font-size: 18px; } }
  @media (max-width: 479px) {
    .untitled-page-subtitle {
      font-size: 17px; } }
  @media (max-width: 383px) {
    .untitled-page-subtitle {
      font-size: 16px; } }

.untitled-page-subtitle.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 2px 10px 3px 11px; }
  @media (max-width: 1199px) {
    .untitled-page-subtitle.layout {
      margin: 5px 9px 5px 10px; } }
  @media (max-width: 991px) {
    .untitled-page-subtitle.layout {
      margin: 5px 7px 5px 8px; } }
  @media (max-width: 767px) {
    .untitled-page-subtitle.layout {
      margin: 5px 6px 5px 7px; } }
  @media (max-width: 575px) {
    .untitled-page-subtitle.layout {
      margin: 5px 6px; } }
  @media (max-width: 479px) {
    .untitled-page-subtitle.layout {
      margin: 5px 5px 5px 6px; } }
  @media (max-width: 383px) {
    .untitled-page-subtitle.layout {
      margin: 5px; } }

.untitled-page-flex1-spacer {
  flex: 0 1 947px; }
  @media (max-width: 767px) {
    .untitled-page-flex1-spacer {
      display: none; } }

.untitled-page-flex1-item1 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1 1 142px; }
  @media (max-width: 767px) {
    .untitled-page-flex1-item1 {
      flex: 0 0 100%; } }

.untitled-page-cover-block2 {
  display: flex;
  flex-direction: column;
  background: var(--src) center center/contain no-repeat; }

.untitled-page-cover-block2.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 0px 0px 1px; }
  @media (max-width: 1199px) {
    .untitled-page-cover-block2.layout {
      margin: 0px 0px 5px; } }

.untitled-page-image1 {
  background: var(--src) center center/contain no-repeat;
  border-radius: 70.5px 70.5px 70.5px 70.5px; }

.untitled-page-image1.layout {
  position: relative;
  height: 141px;
  margin: 1px 0px 0px 1px; }
  @media (max-width: 1199px) {
    .untitled-page-image1.layout {
      margin: 5px 0px 0px 5px; } }

.untitled-page-flex1-spacer1 {
  flex: 0 1 13px; }
  @media (max-width: 767px) {
    .untitled-page-flex1-spacer1 {
      display: none; } }

.untitled-page-flex1-item2 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1 1 167px; }
  @media (max-width: 767px) {
    .untitled-page-flex1-item2 {
      flex: 0 0 100%; } }

.untitled-page-flex2 {
  display: flex;
  flex-direction: column; }

.untitled-page-flex2.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 50px 0px; }
  @media (max-width: 1199px) {
    .untitled-page-flex2.layout {
      margin: 43px 0px; } }
  @media (max-width: 991px) {
    .untitled-page-flex2.layout {
      margin: 35px 0px; } }
  @media (max-width: 767px) {
    .untitled-page-flex2.layout {
      margin: 28px 0px; } }
  @media (max-width: 575px) {
    .untitled-page-flex2.layout {
      margin: 24px 0px; } }
  @media (max-width: 479px) {
    .untitled-page-flex2.layout {
      margin: 21px 0px; } }
  @media (max-width: 383px) {
    .untitled-page-flex2.layout {
      margin: 19px 0px; } }

.untitled-page-highlights {
  font: 19px/1.2 "Inter", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px; }
  @media (max-width: 1199px) {
    .untitled-page-highlights {
      font-size: 18px;
      text-align: left; } }
  @media (max-width: 991px) {
    .untitled-page-highlights {
      font-size: 17px; } }
  @media (max-width: 767px) {
    .untitled-page-highlights {
      font-size: 16px; } }
  @media (max-width: 479px) {
    .untitled-page-highlights {
      font-size: 15px; } }

.untitled-page-highlights.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content; }

.untitled-page-text-body {
  font: 14px/1.2 "Inter", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px; }
  @media (max-width: 991px) {
    .untitled-page-text-body {
      font-size: 13px;
      text-align: left; } }
  @media (max-width: 575px) {
    .untitled-page-text-body {
      font-size: 12px; } }

.untitled-page-text-body.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 3px 29px 0px 0px; }
  @media (max-width: 1199px) {
    .untitled-page-text-body.layout {
      margin: 5px 25px 0px 0px; } }
  @media (max-width: 991px) {
    .untitled-page-text-body.layout {
      margin: 5px 22px 0px 0px; } }
  @media (max-width: 767px) {
    .untitled-page-text-body.layout {
      margin: 5px 18px 0px 0px; } }
  @media (max-width: 575px) {
    .untitled-page-text-body.layout {
      margin: 5px 17px 0px 0px; } }
  @media (max-width: 479px) {
    .untitled-page-text-body.layout {
      margin: 5px 15px 0px 0px; } }
  @media (max-width: 383px) {
    .untitled-page-text-body.layout {
      margin: 5px 14px 0px 0px; } }

.untitled-page-big-title1 {
  font: 33px/1.2 "Inter", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px; }
  @media (max-width: 1199px) {
    .untitled-page-big-title1 {
      font-size: 30px;
      text-align: left; } }
  @media (max-width: 991px) {
    .untitled-page-big-title1 {
      font-size: 26px; } }
  @media (max-width: 767px) {
    .untitled-page-big-title1 {
      font-size: 23px; } }
  @media (max-width: 575px) {
    .untitled-page-big-title1 {
      font-size: 22px; } }
  @media (max-width: 479px) {
    .untitled-page-big-title1 {
      font-size: 20px; } }
  @media (max-width: 383px) {
    .untitled-page-big-title1 {
      font-size: 19px; } }

.untitled-page-big-title1.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 87.65%;
  margin: 50px auto 0px; }
  @media (max-width: 1919px) {
    .untitled-page-big-title1.layout {
      width: 90.44%; } }
  @media (max-width: 1399px) {
    .untitled-page-big-title1.layout {
      width: 92.66%; } }
  @media (max-width: 1199px) {
    .untitled-page-big-title1.layout {
      width: 94.39%;
      margin: 43px auto 0px; } }
  @media (max-width: 991px) {
    .untitled-page-big-title1.layout {
      width: 95.73%;
      margin: 35px auto 0px; } }
  @media (max-width: 767px) {
    .untitled-page-big-title1.layout {
      width: 96.76%;
      margin: 28px auto 0px; } }
  @media (max-width: 575px) {
    .untitled-page-big-title1.layout {
      width: 97.55%;
      margin: 24px auto 0px; } }
  @media (max-width: 479px) {
    .untitled-page-big-title1.layout {
      width: 98.15%;
      margin: 21px auto 0px; } }
  @media (max-width: 383px) {
    .untitled-page-big-title1.layout {
      width: 98.61%;
      margin: 19px auto 0px; } }

.untitled-page-flex3 {
  display: flex; }
  @media (max-width: 1399px) {
    .untitled-page-flex3 {
      flex-wrap: wrap;
      row-gap: 16px; } }

.untitled-page-flex3.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 88.22%;
  margin: 30px auto 0px; }
  @media (max-width: 1199px) {
    .untitled-page-flex3.layout {
      margin: 26px auto 0px; } }
  @media (max-width: 991px) {
    .untitled-page-flex3.layout {
      margin: 22px auto 0px; } }
  @media (max-width: 767px) {
    .untitled-page-flex3.layout {
      margin: 19px auto 0px; } }
  @media (max-width: 575px) {
    .untitled-page-flex3.layout {
      margin: 17px auto 0px; } }
  @media (max-width: 479px) {
    .untitled-page-flex3.layout {
      margin: 15px auto 0px; } }
  @media (max-width: 383px) {
    .untitled-page-flex3.layout {
      margin: 14px auto 0px; } }

.untitled-page-flex3-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1 1 342px; }
  @media (max-width: 1399px) {
    .untitled-page-flex3-item {
      flex: 0 0 100%; } }

.untitled-page-block1 {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.247059);
  border-radius: 10px 10px 10px 10px; }

.untitled-page-block1.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content; }

.untitled-page-flex4 {
  display: flex; }

.untitled-page-flex4.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 22px 25px; }
  @media (max-width: 1199px) {
    .untitled-page-flex4.layout {
      margin: 19px 22px; } }
  @media (max-width: 991px) {
    .untitled-page-flex4.layout {
      margin: 16px 19px; } }
  @media (max-width: 767px) {
    .untitled-page-flex4.layout {
      margin: 14px 16px; } }
  @media (max-width: 575px) {
    .untitled-page-flex4.layout {
      margin: 13px 14px; } }
  @media (max-width: 479px) {
    .untitled-page-flex4.layout {
      margin: 11px 13px; } }
  @media (max-width: 383px) {
    .untitled-page-flex4.layout {
      margin: 10px 12px; } }

.untitled-page-flex4-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 63px; }

.untitled-page-icon {
  background: var(--src) center center/contain no-repeat; }

.untitled-page-icon.layout {
  position: relative;
  height: 63px;
  width: 63px;
  min-width: 63px;
  margin: 0px 0px 1px; }
  @media (max-width: 1199px) {
    .untitled-page-icon.layout {
      margin: 0px 0px 5px; } }

.untitled-page-flex4-spacer {
  flex: 0 1 23px; }

.untitled-page-big-title2 {
  font: 29px/1.2 "Inter", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px; }
  @media (max-width: 1199px) {
    .untitled-page-big-title2 {
      font-size: 26px;
      text-align: left; } }
  @media (max-width: 991px) {
    .untitled-page-big-title2 {
      font-size: 23px; } }
  @media (max-width: 767px) {
    .untitled-page-big-title2 {
      font-size: 21px; } }
  @media (max-width: 575px) {
    .untitled-page-big-title2 {
      font-size: 19px; } }
  @media (max-width: 479px) {
    .untitled-page-big-title2 {
      font-size: 18px; } }
  @media (max-width: 383px) {
    .untitled-page-big-title2 {
      font-size: 17px; } }

.untitled-page-big-title2.layout {
  position: relative;
  flex: 0 0 auto;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 14px 39px 15px 0px; }
  @media (max-width: 1199px) {
    .untitled-page-big-title2.layout {
      margin: 12px 34px 13px 0px; } }
  @media (max-width: 991px) {
    .untitled-page-big-title2.layout {
      margin: 10px 28px 11px 0px; } }
  @media (max-width: 767px) {
    .untitled-page-big-title2.layout {
      margin: 9px 23px 9px 0px; } }
  @media (max-width: 575px) {
    .untitled-page-big-title2.layout {
      margin: 8px 21px 9px 0px; } }
  @media (max-width: 479px) {
    .untitled-page-big-title2.layout {
      margin: 7px 18px 8px 0px; } }
  @media (max-width: 383px) {
    .untitled-page-big-title2.layout {
      margin: 7px 17px 7px 0px; } }

.untitled-page-flex3-spacer {
  flex: 0 1 187px; }
  @media (max-width: 1399px) {
    .untitled-page-flex3-spacer {
      display: none; } }

.untitled-page-block2 {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.247059);
  border-radius: 10px 10px 10px 10px; }

.untitled-page-block2.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content; }

.untitled-page-flex4-spacer1 {
  flex: 0 1 34px; }

.untitled-page-big-title2.layout1 {
  position: relative;
  flex: 0 0 auto;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 14px 44px 15px 0px; }
  @media (max-width: 1199px) {
    .untitled-page-big-title2.layout1 {
      margin: 12px 38px 13px 0px; } }
  @media (max-width: 991px) {
    .untitled-page-big-title2.layout1 {
      margin: 10px 31px 11px 0px; } }
  @media (max-width: 767px) {
    .untitled-page-big-title2.layout1 {
      margin: 9px 25px 9px 0px; } }
  @media (max-width: 575px) {
    .untitled-page-big-title2.layout1 {
      margin: 8px 22px 9px 0px; } }
  @media (max-width: 479px) {
    .untitled-page-big-title2.layout1 {
      margin: 7px 20px 8px 0px; } }
  @media (max-width: 383px) {
    .untitled-page-big-title2.layout1 {
      margin: 7px 18px 7px 0px; } }

.untitled-page-flex6 {
  display: flex; }

.untitled-page-flex6.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 22px 28px; }
  @media (max-width: 1199px) {
    .untitled-page-flex6.layout {
      margin: 19px 25px; } }
  @media (max-width: 991px) {
    .untitled-page-flex6.layout {
      margin: 16px 21px; } }
  @media (max-width: 767px) {
    .untitled-page-flex6.layout {
      margin: 14px 18px; } }
  @media (max-width: 575px) {
    .untitled-page-flex6.layout {
      margin: 13px 16px; } }
  @media (max-width: 479px) {
    .untitled-page-flex6.layout {
      margin: 11px 14px; } }
  @media (max-width: 383px) {
    .untitled-page-flex6.layout {
      margin: 10px 13px; } }

.untitled-page-flex6-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 63px; }

.untitled-page-flex6-spacer {
  flex: 0 1 24px; }

.untitled-page-big-title2.layout2 {
  position: relative;
  flex: 0 0 auto;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 14px 59px 15px 0px; }
  @media (max-width: 1199px) {
    .untitled-page-big-title2.layout2 {
      margin: 12px 50px 13px 0px; } }
  @media (max-width: 991px) {
    .untitled-page-big-title2.layout2 {
      margin: 10px 41px 11px 0px; } }
  @media (max-width: 767px) {
    .untitled-page-big-title2.layout2 {
      margin: 9px 33px 9px 0px; } }
  @media (max-width: 575px) {
    .untitled-page-big-title2.layout2 {
      margin: 8px 29px 9px 0px; } }
  @media (max-width: 479px) {
    .untitled-page-big-title2.layout2 {
      margin: 7px 26px 8px 0px; } }
  @media (max-width: 383px) {
    .untitled-page-big-title2.layout2 {
      margin: 7px 23px 7px 0px; } }

.untitled-page-flex7 {
  display: flex; }
  @media (max-width: 1399px) {
    .untitled-page-flex7 {
      flex-wrap: wrap;
      row-gap: 16px; } }

.untitled-page-flex7.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 88.22%;
  margin: 49px auto 0px; }
  @media (max-width: 1199px) {
    .untitled-page-flex7.layout {
      margin: 42px auto 0px; } }
  @media (max-width: 991px) {
    .untitled-page-flex7.layout {
      margin: 34px auto 0px; } }
  @media (max-width: 767px) {
    .untitled-page-flex7.layout {
      margin: 27px auto 0px; } }
  @media (max-width: 575px) {
    .untitled-page-flex7.layout {
      margin: 24px auto 0px; } }
  @media (max-width: 479px) {
    .untitled-page-flex7.layout {
      margin: 21px auto 0px; } }
  @media (max-width: 383px) {
    .untitled-page-flex7.layout {
      margin: 18px auto 0px; } }

.untitled-page-flex7-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1 1 471px; }
  @media (max-width: 1399px) {
    .untitled-page-flex7-item {
      flex: 0 0 100%; } }

.untitled-page-cover-block1 {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.247059); }

.untitled-page-cover-block1.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content; }

.untitled-page-flex8 {
  display: flex;
  flex-direction: column; }

.untitled-page-flex8.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 20px 0px; }
  @media (max-width: 1199px) {
    .untitled-page-flex8.layout {
      margin: 18px 0px; } }
  @media (max-width: 991px) {
    .untitled-page-flex8.layout {
      margin: 15px 0px; } }
  @media (max-width: 767px) {
    .untitled-page-flex8.layout {
      margin: 13px 0px; } }
  @media (max-width: 575px) {
    .untitled-page-flex8.layout {
      margin: 11px 0px; } }
  @media (max-width: 479px) {
    .untitled-page-flex8.layout {
      margin: 10px 0px; } }

.untitled-page-subtitle1 {
  font: 20px/1.2 "Inter", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px; }
  @media (max-width: 1199px) {
    .untitled-page-subtitle1 {
      font-size: 19px;
      text-align: left; } }
  @media (max-width: 991px) {
    .untitled-page-subtitle1 {
      font-size: 18px; } }
  @media (max-width: 767px) {
    .untitled-page-subtitle1 {
      font-size: 17px; } }
  @media (max-width: 479px) {
    .untitled-page-subtitle1 {
      font-size: 16px; } }

.untitled-page-subtitle1.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 0px 25px; }
  @media (max-width: 1199px) {
    .untitled-page-subtitle1.layout {
      margin: 0px 22px; } }
  @media (max-width: 991px) {
    .untitled-page-subtitle1.layout {
      margin: 0px 19px; } }
  @media (max-width: 767px) {
    .untitled-page-subtitle1.layout {
      margin: 0px 16px; } }
  @media (max-width: 575px) {
    .untitled-page-subtitle1.layout {
      margin: 0px 14px; } }
  @media (max-width: 479px) {
    .untitled-page-subtitle1.layout {
      margin: 0px 13px; } }
  @media (max-width: 383px) {
    .untitled-page-subtitle1.layout {
      margin: 0px 12px; } }

.untitled-page-line {
  background-color: silver; }

.untitled-page-line.layout {
  position: relative;
  height: 2px;
  margin: 15px 0px 0px; }
  @media (max-width: 1199px) {
    .untitled-page-line.layout {
      margin: 13px 0px 0px; } }
  @media (max-width: 991px) {
    .untitled-page-line.layout {
      margin: 11px 0px 0px; } }
  @media (max-width: 767px) {
    .untitled-page-line.layout {
      margin: 9px 0px 0px; } }
  @media (max-width: 479px) {
    .untitled-page-line.layout {
      margin: 8px 0px 0px; } }
  @media (max-width: 383px) {
    .untitled-page-line.layout {
      margin: 7px 0px 0px; } }

.untitled-page-cover-block {
  display: flex;
  flex-direction: column;
  background: var(--src) center center/contain no-repeat; }

.untitled-page-cover-block.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 22.08%;
  margin: 24px auto 0px; }
  @media (max-width: 1199px) {
    .untitled-page-cover-block.layout {
      margin: 21px auto 0px; } }
  @media (max-width: 991px) {
    .untitled-page-cover-block.layout {
      margin: 18px auto 0px; } }
  @media (max-width: 767px) {
    .untitled-page-cover-block.layout {
      margin: 15px auto 0px; } }
  @media (max-width: 575px) {
    .untitled-page-cover-block.layout {
      margin: 14px auto 0px; } }
  @media (max-width: 479px) {
    .untitled-page-cover-block.layout {
      margin: 12px auto 0px; } }
  @media (max-width: 383px) {
    .untitled-page-cover-block.layout {
      margin: 11px auto 0px; } }

.untitled-page-icon2 {
  background: var(--src) center center/contain no-repeat;
  border-radius: 49.5px 49.5px 49.5px 49.5px; }

.untitled-page-icon2.layout {
  position: relative;
  height: 99px;
  width: 99px;
  min-width: 99px;
  margin: 4px 3px 1px 2px; }
  @media (max-width: 1199px) {
    .untitled-page-icon2.layout {
      margin: 5px; } }

.untitled-page-flex9 {
  display: flex; }

.untitled-page-flex9.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 72.82%;
  margin: 25px auto 0px; }
  @media (max-width: 1199px) {
    .untitled-page-flex9.layout {
      margin: 22px auto 0px; } }
  @media (max-width: 991px) {
    .untitled-page-flex9.layout {
      margin: 19px auto 0px; } }
  @media (max-width: 767px) {
    .untitled-page-flex9.layout {
      margin: 16px auto 0px; } }
  @media (max-width: 575px) {
    .untitled-page-flex9.layout {
      margin: 14px auto 0px; } }
  @media (max-width: 479px) {
    .untitled-page-flex9.layout {
      margin: 13px auto 0px; } }
  @media (max-width: 383px) {
    .untitled-page-flex9.layout {
      width: 78.12%;
      margin: 12px auto 0px; } }

.untitled-page-highlights2 {
  font: 700 18px/1.09 "Inter", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px; }
  @media (max-width: 1199px) {
    .untitled-page-highlights2 {
      font-size: 17px;
      text-align: left; } }
  @media (max-width: 991px) {
    .untitled-page-highlights2 {
      font-size: 16px; } }
  @media (max-width: 767px) {
    .untitled-page-highlights2 {
      font-size: 15px; } }
  @media (max-width: 479px) {
    .untitled-page-highlights2 {
      font-size: 14px; } }

.untitled-page-highlights2.layout {
  position: relative;
  flex: 0 0 auto;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content; }

.untitled-page-flex9-spacer {
  flex: 0 1 129px; }

.untitled-page-highlights1 {
  font: 500 18px/1.09 "Inter", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px; }
  @media (max-width: 1199px) {
    .untitled-page-highlights1 {
      font-size: 17px;
      text-align: left; } }
  @media (max-width: 991px) {
    .untitled-page-highlights1 {
      font-size: 16px; } }
  @media (max-width: 767px) {
    .untitled-page-highlights1 {
      font-size: 15px; } }
  @media (max-width: 479px) {
    .untitled-page-highlights1 {
      font-size: 14px; } }

.untitled-page-highlights1.layout {
  position: relative;
  flex: 0 0 auto;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content; }

.untitled-page-line2 {
  background-color: silver; }

.untitled-page-line2.layout {
  position: relative;
  height: 1px;
  margin: 16px 26px 0px 27px; }
  @media (max-width: 1199px) {
    .untitled-page-line2.layout {
      margin: 14px 23px 0px 24px; } }
  @media (max-width: 991px) {
    .untitled-page-line2.layout {
      margin: 12px 19px 0px 20px; } }
  @media (max-width: 767px) {
    .untitled-page-line2.layout {
      margin: 10px 16px 0px 17px; } }
  @media (max-width: 575px) {
    .untitled-page-line2.layout {
      margin: 9px 15px 0px; } }
  @media (max-width: 479px) {
    .untitled-page-line2.layout {
      margin: 8px 13px 0px 14px; } }
  @media (max-width: 383px) {
    .untitled-page-line2.layout {
      margin: 8px 12px 0px 13px; } }

.untitled-page-flex10 {
  display: flex; }

.untitled-page-flex10.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 73.04%;
  margin: 8px auto 0px; }
  @media (max-width: 1199px) {
    .untitled-page-flex10.layout {
      margin: 7px auto 0px; } }
  @media (max-width: 991px) {
    .untitled-page-flex10.layout {
      margin: 6px auto 0px; } }
  @media (max-width: 767px) {
    .untitled-page-flex10.layout {
      margin: 5px auto 0px; } }

.untitled-page-flex10-spacer {
  flex: 0 1 132px; }

.untitled-page-line2.layout1 {
  position: relative;
  height: 1px;
  margin: 16px 28px 0px 25px; }
  @media (max-width: 1199px) {
    .untitled-page-line2.layout1 {
      margin: 14px 25px 0px 22px; } }
  @media (max-width: 991px) {
    .untitled-page-line2.layout1 {
      margin: 12px 21px 0px 19px; } }
  @media (max-width: 767px) {
    .untitled-page-line2.layout1 {
      margin: 10px 18px 0px 16px; } }
  @media (max-width: 575px) {
    .untitled-page-line2.layout1 {
      margin: 9px 16px 0px 14px; } }
  @media (max-width: 479px) {
    .untitled-page-line2.layout1 {
      margin: 8px 14px 0px 13px; } }
  @media (max-width: 383px) {
    .untitled-page-line2.layout1 {
      margin: 8px 13px 0px 12px; } }

.untitled-page-flex11 {
  display: flex; }

.untitled-page-flex11.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 72.82%;
  margin: 8px auto 0px; }
  @media (max-width: 1199px) {
    .untitled-page-flex11.layout {
      margin: 7px auto 0px; } }
  @media (max-width: 991px) {
    .untitled-page-flex11.layout {
      margin: 6px auto 0px; } }
  @media (max-width: 767px) {
    .untitled-page-flex11.layout {
      margin: 5px auto 0px; } }
  @media (max-width: 383px) {
    .untitled-page-flex11.layout {
      width: 78.12%; } }

.untitled-page-flex11-spacer {
  flex: 0 1 130px; }

.untitled-page-line2.layout2 {
  position: relative;
  height: 1px;
  margin: 16px 28px 0px 25px; }
  @media (max-width: 1199px) {
    .untitled-page-line2.layout2 {
      margin: 14px 25px 0px 22px; } }
  @media (max-width: 991px) {
    .untitled-page-line2.layout2 {
      margin: 12px 21px 0px 19px; } }
  @media (max-width: 767px) {
    .untitled-page-line2.layout2 {
      margin: 10px 18px 0px 16px; } }
  @media (max-width: 575px) {
    .untitled-page-line2.layout2 {
      margin: 9px 16px 0px 14px; } }
  @media (max-width: 479px) {
    .untitled-page-line2.layout2 {
      margin: 8px 14px 0px 13px; } }
  @media (max-width: 383px) {
    .untitled-page-line2.layout2 {
      margin: 8px 13px 0px 12px; } }

.untitled-page-flex12 {
  display: flex; }

.untitled-page-flex12.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 72.82%;
  margin: 8px auto 0px; }
  @media (max-width: 1199px) {
    .untitled-page-flex12.layout {
      margin: 7px auto 0px; } }
  @media (max-width: 991px) {
    .untitled-page-flex12.layout {
      margin: 6px auto 0px; } }
  @media (max-width: 767px) {
    .untitled-page-flex12.layout {
      margin: 5px auto 0px; } }
  @media (max-width: 383px) {
    .untitled-page-flex12.layout {
      width: 78.12%; } }

.untitled-page-flex12-spacer {
  flex: 0 1 122px; }

.untitled-page-line2.layout3 {
  position: relative;
  height: 1px;
  margin: 16px 28px 0px 25px; }
  @media (max-width: 1199px) {
    .untitled-page-line2.layout3 {
      margin: 14px 25px 0px 22px; } }
  @media (max-width: 991px) {
    .untitled-page-line2.layout3 {
      margin: 12px 21px 0px 19px; } }
  @media (max-width: 767px) {
    .untitled-page-line2.layout3 {
      margin: 10px 18px 0px 16px; } }
  @media (max-width: 575px) {
    .untitled-page-line2.layout3 {
      margin: 9px 16px 0px 14px; } }
  @media (max-width: 479px) {
    .untitled-page-line2.layout3 {
      margin: 8px 14px 0px 13px; } }
  @media (max-width: 383px) {
    .untitled-page-line2.layout3 {
      margin: 8px 13px 0px 12px; } }

.untitled-page-flex13 {
  display: flex; }

.untitled-page-flex13.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 72.82%;
  margin: 8px auto 0px; }
  @media (max-width: 1199px) {
    .untitled-page-flex13.layout {
      margin: 7px auto 0px; } }
  @media (max-width: 991px) {
    .untitled-page-flex13.layout {
      margin: 6px auto 0px; } }
  @media (max-width: 767px) {
    .untitled-page-flex13.layout {
      margin: 5px auto 0px; } }
  @media (max-width: 383px) {
    .untitled-page-flex13.layout {
      width: 78.12%; } }

.untitled-page-flex13-spacer {
  flex: 0 1 77px; }

.untitled-page-line2.layout4 {
  position: relative;
  height: 1px;
  margin: 16px 28px 0px 25px; }
  @media (max-width: 1199px) {
    .untitled-page-line2.layout4 {
      margin: 14px 25px 0px 22px; } }
  @media (max-width: 991px) {
    .untitled-page-line2.layout4 {
      margin: 12px 21px 0px 19px; } }
  @media (max-width: 767px) {
    .untitled-page-line2.layout4 {
      margin: 10px 18px 0px 16px; } }
  @media (max-width: 575px) {
    .untitled-page-line2.layout4 {
      margin: 9px 16px 0px 14px; } }
  @media (max-width: 479px) {
    .untitled-page-line2.layout4 {
      margin: 8px 14px 0px 13px; } }
  @media (max-width: 383px) {
    .untitled-page-line2.layout4 {
      margin: 8px 13px 0px 12px; } }

.untitled-page-flex14 {
  display: flex; }

.untitled-page-flex14.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 72.82%;
  margin: 8px auto 0px; }
  @media (max-width: 1199px) {
    .untitled-page-flex14.layout {
      margin: 7px auto 0px; } }
  @media (max-width: 991px) {
    .untitled-page-flex14.layout {
      margin: 6px auto 0px; } }
  @media (max-width: 767px) {
    .untitled-page-flex14.layout {
      margin: 5px auto 0px; } }
  @media (max-width: 383px) {
    .untitled-page-flex14.layout {
      width: 78.12%; } }

.untitled-page-flex14-spacer {
  flex: 0 1 114px; }

.untitled-page-line2.layout5 {
  position: relative;
  height: 1px;
  margin: 16px 28px 0px 25px; }
  @media (max-width: 1199px) {
    .untitled-page-line2.layout5 {
      margin: 14px 25px 0px 22px; } }
  @media (max-width: 991px) {
    .untitled-page-line2.layout5 {
      margin: 12px 21px 0px 19px; } }
  @media (max-width: 767px) {
    .untitled-page-line2.layout5 {
      margin: 10px 18px 0px 16px; } }
  @media (max-width: 575px) {
    .untitled-page-line2.layout5 {
      margin: 9px 16px 0px 14px; } }
  @media (max-width: 479px) {
    .untitled-page-line2.layout5 {
      margin: 8px 14px 0px 13px; } }
  @media (max-width: 383px) {
    .untitled-page-line2.layout5 {
      margin: 8px 13px 0px 12px; } }

.untitled-page-flex15 {
  display: flex; }

.untitled-page-flex15.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 72.82%;
  margin: 8px auto 0px; }
  @media (max-width: 1199px) {
    .untitled-page-flex15.layout {
      margin: 7px auto 0px; } }
  @media (max-width: 991px) {
    .untitled-page-flex15.layout {
      margin: 6px auto 0px; } }
  @media (max-width: 767px) {
    .untitled-page-flex15.layout {
      margin: 5px auto 0px; } }
  @media (max-width: 383px) {
    .untitled-page-flex15.layout {
      width: 78.12%; } }

.untitled-page-flex15-spacer {
  flex: 0 1 98px; }

.untitled-page-line3 {
  background-color: #d0d0d0; }

.untitled-page-line3.layout {
  position: relative;
  height: 1px;
  margin: 16px 28px 62px 25px; }
  @media (max-width: 1199px) {
    .untitled-page-line3.layout {
      margin: 14px 25px 53px 22px; } }
  @media (max-width: 991px) {
    .untitled-page-line3.layout {
      margin: 12px 21px 44px 19px; } }
  @media (max-width: 767px) {
    .untitled-page-line3.layout {
      margin: 10px 18px 35px 16px; } }
  @media (max-width: 575px) {
    .untitled-page-line3.layout {
      margin: 9px 16px 31px 14px; } }
  @media (max-width: 479px) {
    .untitled-page-line3.layout {
      margin: 8px 14px 27px 13px; } }
  @media (max-width: 383px) {
    .untitled-page-line3.layout {
      margin: 8px 13px 24px 12px; } }

.untitled-page-flex7-spacer {
  flex: 0 1 58px; }
  @media (max-width: 1399px) {
    .untitled-page-flex7-spacer {
      display: none; } }

.untitled-page-flex7-item1 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1 1 871px; }
  @media (max-width: 1399px) {
    .untitled-page-flex7-item1 {
      flex: 0 0 100%; } }

.untitled-page-content-box {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.247059); }

.untitled-page-content-box.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content; }

.untitled-page-subtitle1.layout1 {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 20px 25px 0px; }
  @media (max-width: 1199px) {
    .untitled-page-subtitle1.layout1 {
      margin: 18px 22px 0px; } }
  @media (max-width: 991px) {
    .untitled-page-subtitle1.layout1 {
      margin: 15px 19px 0px; } }
  @media (max-width: 767px) {
    .untitled-page-subtitle1.layout1 {
      margin: 13px 16px 0px; } }
  @media (max-width: 575px) {
    .untitled-page-subtitle1.layout1 {
      margin: 11px 14px 0px; } }
  @media (max-width: 479px) {
    .untitled-page-subtitle1.layout1 {
      margin: 10px 13px 0px; } }
  @media (max-width: 383px) {
    .untitled-page-subtitle1.layout1 {
      margin: 10px 12px 0px; } }

.untitled-page-line1 {
  background-color: silver; }

.untitled-page-line1.layout {
  position: relative;
  height: 2px;
  margin: 15px 0px 542px; }
  @media (max-width: 1199px) {
    .untitled-page-line1.layout {
      margin: 13px 0px 416px; } }
  @media (max-width: 991px) {
    .untitled-page-line1.layout {
      margin: 11px 0px 279px; } }
  @media (max-width: 767px) {
    .untitled-page-line1.layout {
      margin: 9px 0px 162px; } }
  @media (max-width: 575px) {
    .untitled-page-line1.layout {
      margin: 9px 0px 104px; } }
  @media (max-width: 479px) {
    .untitled-page-line1.layout {
      margin: 8px 0px 45px; } }
  @media (max-width: 383px) {
    .untitled-page-line1.layout {
      margin: 7px 0px 6px; } }
