* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1,
h2 {
    color: #444;
}

h3 {
    color: #999;
}




.recent-payments .title  {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 10px;
   color: #270679;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16PX;
    background-color: rgb(255, 255, 255);
}

table {
    padding: 10px;
    background-color: rgb(174, 206, 239);
    
}

th
{
    color: rgb(8, 80, 151);
    text-align: left;
    padding: 8px;
}
td {
    text-align: left;
    padding: 8px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.side-menu {
    position: fixed;
    background: #06025c;
    width: 20vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.side-menu .brand-name img {
    height: 200px;
    width: 200px;
    margin-top: 20px;
    margin-left: 20px;
}

.side-menu li {
    
    padding: 10px 40px;
    
    display: flex;
    align-items: center;
    padding-top: 25px;
}
.side-menu li img{padding-right: 10px;
}


.side-menu li :hover {
    background: white;
    color: #100779;


}

.side-menu li span{
    color: aliceblue;
    font-size: 22px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    position: absolute;
    right: 0;
    width: 80vw;
    height: 100vh;
}

.container .header {
    position: fixed;
    top: 0;
    right: 0;
    width: 80vw;
    height: 10vh;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(13, 4, 74, 0.459);
    z-index: 1;
    margin-left: 2PX;
}

.container .header .nav {
    width: 50%;
    

    display: flex;
    align-items: center;
}


.container .header .nav .user {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .header .nav .user img {
    width: 50px;
    height: 40px;
   
}
.container .header .nav .user .name p{
    color:#06025c;
    margin-left: 700px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    }

.container .header .nav .user .img-case {
    position: relative;
    width: 50px;
    height: 50px;
}

.container .header .nav .user .img-case img {
    position: absolute;
    top: 0;
    left: 750px;
    width: 100%;
    height: 100%;
}

.container .content {
    position: relative;
    margin-top: 10vh;
    min-height: 90vh;
    background: #f1f1f1;
}

.container .content .cards {
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container .content .cards .box h1{
    text-align: center;
}

.container .content .cards .box h3{
    text-align: center;
    color: #270679;
    padding-top: 10px;
}

.container .content .cards .card1 {
    width: 250px;
    height: 150px;
    background: rgb(255, 255, 255);
    margin: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(21, 46, 238, 0.6), 0 6px 20px 0 rgba(65, 49, 64, 0.265);
}

.container .content .cards .card2 {
    width: 250px;
    height: 150px;
    background: rgb(255, 255, 255);
    margin: 20px 10px;
    display: flex;
    border-radius: 25px;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(21, 46, 238, 0.6), 0 6px 20px 0 rgba(65, 49, 64, 0.265);

}

.container .content .cards .card3 {
    width: 250px;
    height: 150px;
    border-radius: 25px;
    background: rgb(255, 255, 255);
    margin: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(21, 46, 238, 0.6), 0 6px 20px 0 rgba(65, 49, 64, 0.265);

}



.container .content .content-2 {
    min-height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.container .content .content-2 .recent-payments {
    min-height: 50vh;
    flex: 5;
    background: white;
    margin: 0 25px 25px 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
}

.container .content .content-2 .new-students {
    flex: 2;
    background: white;
    min-height: 50vh;
    margin: 0 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
}

.container .content .content-2 .new-students table td:nth-child(1) img {
    height: 40px;
    width: 40px;
}

@media screen and (max-width: 1050px) {
    .side-menu li {
        font-size: 18px;
    }
}

@media screen and (max-width: 940px) {
    .side-menu li span {
        display: none;
    }
    .side-menu {
        align-items: center;
    }
    .side-menu .brand-name{
        display: none;
    }
    .side-menu li img {
        width: 40px;
        height: 40px;
    }
    .container .header .nav .user .img-case img{
        right: 500px;
    }
  
    

    .container .header .nav .user .name p{
        right: 40px;
    }
    .side-menu li:hover {
        background: #06025c;
        padding: 8px 38px;
        border: 2px solid white;
    }
}

@media screen and (max-width:536px) {
    .brand-name h1 {
        font-size: 16px;
    }
    .container .content .cards {
        justify-content: center;
    }
    .side-menu li img {
        width: 30px;
        height: 30px;
    }
    .container .content .content-2 .recent-payments table th:nth-child(2),
    .container .content .content-2 .recent-payments table td:nth-child(2) {
        display: none;
    }
}
